header,
#content,
footer {
  padding: 4px;
  margin: 2px;
  border: 5px solid #2196f3;
}
#content div,
#side-menu section {
  padding: 4px;
  margin: 2px;
  border: 2px solid red;
}
#sode-menu section {
  border-color: green;
}
td {
  padding: 4px;
}
th {
  padding: 5px;
}

#job-title {
  color: green;
  text-align: right;
}

#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  margin: 0;
  padding: 2;
}
#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5 10px;
  border-radius: 4px;
  transition: 0.5ms;
}

#top-menu-bar a:visited {
  color: #fff;
}
top-menu-bar a.active,
#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}

.favorite {
  font-weight: bold;
  color: blue;
}

td.favorite {
  font-weight: normal;
}
